---
layout: base.njk
pagination:
  data: counterfeit
  size: 1
  alias: token
permalink: "/counterfeit/{{ token.siteId | lower }}/index.html"
eleventyComputed:
  title: "{{ token.displayId }} – {{ token.title }}"
---
{% set tokenId = token.displayId or token.siteId %}
{% set tokenTitle = token.title or token.displayTitle %}
{% set isUnlisted = false %}
{% set isCounterfeit = true %}

{% set detailSectionTitle = "Counterfeit Tokens" %}
{% set detailSectionUrl = "/groups/counterfeit/" %}
{% set detailImageDataset = "counterfeit" %}
{% set detailImageIsOfficial = false %}
{% set detailShowPager = false %}

{% set detailView = tokenDetailView.buildTokenDetailView(token, {
  tokenId: tokenId,
  tokenTitle: tokenTitle,
  detailSectionTitle: detailSectionTitle,
  detailSectionUrl: detailSectionUrl,
  detailImageDataset: detailImageDataset,
  detailImageIsOfficial: detailImageIsOfficial,
  detailShowPager: detailShowPager,
  isUnlisted: isUnlisted,
  lookups: lookups
}) %}

{% include "token-detail.njk" %}
