---
layout: base.njk
pagination:
  data: groupOfficialPages
  size: 1
  alias: pageData
permalink: "/groups/{{ pageData.group.key }}/{{ pageData.pageId | lower }}/index.html"
eleventyComputed:
  title: "{{ pageData.token.displayId }} – {{ pageData.token.title }}"
---

{% set group = pageData.group %}
{% set token = pageData.token %}
{% set isUnlisted = token.status != "listed" %}

{% set detailSectionTitle = group.title %}
{% set detailSectionUrl = "/groups/" ~ group.key ~ "/" %}

{% if token.status == "listed" and token.sec %}
  {% set matchedSection = null %}
  {% for section in sections %}
    {% if section.sec == token.sec and section.pub %}
      {% set matchedSection = section %}
    {% endif %}
  {% endfor %}

  {% if matchedSection %}
    {% set detailSectionTitle = matchedSection.title %}
    {% set detailSectionUrl = "/listed/" ~ (token.sec | lower) ~ "/" %}
  {% endif %}
{% endif %}

{% set groupTokens = [] %}
{% for item in groupOfficialPages %}
  {% if item.group.key == group.key %}
    {% set groupTokens = groupTokens.concat([item.token]) %}
  {% endif %}
{% endfor %}

{% set prevToken = null %}
{% set nextToken = null %}

{% for item in groupTokens %}
  {% if item.displayId == token.displayId %}
    {% if loop.index0 > 0 %}
      {% set prevToken = groupTokens[loop.index0 - 1] %}
    {% endif %}
    {% if loop.index0 < (groupTokens | length - 1) %}
      {% set nextToken = groupTokens[loop.index0 + 1] %}
    {% endif %}
  {% endif %}
{% endfor %}

{% set breadcrumbItems = [
  { "label": "Home", "url": "/" }
] %}

{% if group.section %}
  {% set matchedSiteSection = null %}
  {% for siteSection in siteSections %}
    {% if siteSection.key == group.section %}
      {% set matchedSiteSection = siteSection %}
    {% endif %}
  {% endfor %}

  {% if matchedSiteSection %}
    {% set breadcrumbItems = breadcrumbItems.concat([{
      "label": matchedSiteSection.title,
      "url": "/" ~ matchedSiteSection.key ~ "/"
    }]) %}
  {% endif %}
{% endif %}

{% set breadcrumbItems = breadcrumbItems.concat([{
  "label": group.title,
  "url": "/groups/" ~ group.key ~ "/"
}]) %}

{% set breadcrumbItems = breadcrumbItems.concat([{
  "label": token.displayId,
  "url": ""
}]) %}

{% set detailView = tokenDetailView.buildTokenDetailView(token, {
  tokenId: token.displayId,
  tokenTitle: token.title,
  detailSectionTitle: detailSectionTitle,
  detailSectionUrl: detailSectionUrl,
  breadcrumbItems: breadcrumbItems,
  detailShowPager: true,
  prevToken: prevToken,
  nextToken: nextToken,
  pagerUrlBuilder: "group",
  pagerGroupKey: group.key,
  isUnlisted: isUnlisted,
  lookups: lookups
}) %}

{% include "token-detail.njk" %}
