---
layout: base.njk
title: Resources
permalink: /resources/index.html
---
<section class="section">
  <h1>Resources</h1>
  <div class="grid-3">
    {% for resource in resources | sort(attribute="order") %}
      {% if resource.pub %}
      <article class="resource-card">
        <strong><a href="{{ resource.urlRef | resolveUrlRef(site) }}">{{ resource.title }}</a></strong>
        <p>{{ resource.text }}</p>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</section>
