---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
{% if site.siteUrl or site.url or site.baseUrl %}

Sitemap: {{ "/sitemap.xml" | absoluteUrl(site) }}
{% endif %}
