---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set sitemapUrls = [
  "/",
  "/browse/",
  "/about/",
  "/for-sale/",
  "/resources/"
] -%}
{%- for siteSection in siteSections -%}
  {%- set sitemapUrls = sitemapUrls.concat(["/" ~ siteSection.key ~ "/"]) -%}
{%- endfor -%}
{%- for group in groups -%}
  {%- set sitemapUrls = sitemapUrls.concat([group.url]) -%}
{%- endfor -%}
{%- for pageData in groupTokenPages -%}
  {%- set sitemapUrls = sitemapUrls.concat(["/groups/" ~ pageData.group.key ~ "/" ~ (pageData.pageId | lower) ~ "/"]) -%}
{%- endfor -%}
{%- for token in collections.officialAll -%}
  {%- set sitemapUrls = sitemapUrls.concat(["/official/" ~ (token.displayId | lower) ~ "/"]) -%}
{%- endfor -%}
{%- for token in unofficialAll -%}
  {%- set sitemapUrls = sitemapUrls.concat(["/unlisted/" ~ (token.displayId | lower) ~ "/"]) -%}
{%- endfor -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for url in sitemapUrls %}
  <url>
    <loc>{{ url | absoluteUrl(site) }}</loc>
  </url>
{% endfor %}
</urlset>
