---
layout: base.njk
pagination:
  data: collections.officialAll
  size: 1
  alias: token
permalink: "/official/{{ token.displayId | lower }}/index.html"
eleventyComputed:
  title: "{{ token.displayId }} – {{ token.title }}"
---
{% set tokenId = token.displayId or token.siteId %}
{% set tokenTitle = token.title or token.displayTitle %}
{% set isUnlisted = token.siteId and not token.displayId %}
{% set sectionLabel = token.sec %}
{% set sectionUrl = "/listed/" ~ token.sec ~ "/" %}

{% if token.sec == "630" %}
  {% set sectionLabel = "Manhattan" %}
{% endif %}
{% if token.sec == "629" %}
  {% set sectionLabel = "Brooklyn" %}
{% endif %}
{% if token.sec == "628" %}
  {% set sectionLabel = "Bronx" %}
{% endif %}
{% if token.sec == "631" %}
  {% set sectionLabel = "Queens" %}
{% endif %}
{% if token.sec == "632" %}
  {% set sectionLabel = "Staten Island" %}
{% endif %}

{% set sectionTokens = [] %}
{% for item in collections.officialAll %}
  {% if item.sec == token.sec and item.pub %}
    {% set sectionTokens = sectionTokens.concat([item]) %}
  {% endif %}
{% endfor %}

{% set prevToken = null %}
{% set nextToken = null %}

{% for item in sectionTokens %}
  {% if item.displayId == token.displayId %}
    {% if loop.index0 > 0 %}
      {% set prevToken = sectionTokens[loop.index0 - 1] %}
    {% endif %}
    {% if loop.index0 < (sectionTokens | length - 1) %}
      {% set nextToken = sectionTokens[loop.index0 + 1] %}
    {% endif %}
  {% endif %}
{% endfor %}

{% include "token-detail.njk" %}