---
layout: base.njk
pagination:
  data: collections.officialAll
  size: 1
  alias: token
permalink: "/official/{{ token.displayId | lower }}/index.html"
eleventyComputed:
  title: "{{ token.displayId }} – {{ token.title }}"
---

{% set matchedSection = tokenDetailView.findSection(sections, token.sec) %}
{% set matchedGroup = tokenDetailView.findListedGroupForSection(sections, groups, token.sec) %}
{% set sectionLabel = matchedSection.title if matchedSection else token.sec %}
{% set sectionUrl = matchedGroup.url if matchedGroup else "/listed/" %}

{% set sectionTokens = [] %}
{% for item in collections.officialAll %}
  {% if item.sec == token.sec and item.pub != false %}
    {% set sectionTokens = sectionTokens.concat([item]) %}
  {% endif %}
{% endfor %}

{% set pager = tokenDetailView.findPrevNext(sectionTokens, token) %}
{% set prevToken = pager.prev %}
{% set nextToken = pager.next %}

{% set detailView = tokenDetailView.buildTokenDetailView(token, {
  tokenId: token.displayId,
  tokenTitle: token.title,
  detailSectionTitle: sectionLabel,
  detailSectionUrl: sectionUrl,
  detailShowPager: true,
  prevToken: prevToken,
  nextToken: nextToken,
  isUnlisted: false,
  lookups: lookups
}) %}

{% include "token-detail.njk" %}
