---
layout: base.njk
pagination:
  data: collections.officialAll
  size: 1
  alias: token
permalink: "/official/{{ token.displayId | lower }}/index.html"
eleventyComputed:
  title: "{{ token.displayId }} – {{ token.title }}"
---
{% set tokenId = token.displayId or token.siteId %}
{% set tokenTitle = token.title or token.displayTitle %}
{% set isUnlisted = token.siteId and not token.displayId %}
{% set sectionLabel = token.sec %}
{% set sectionUrl = "/listed/" ~ token.sec | lower ~ "/" %}
{% set matchedSection = null %}

{% for section in sections %}
  {% if section.sec == token.sec and section.pub %}
    {% set matchedSection = section %}
  {% endif %}
{% endfor %}

{% if matchedSection %}
  {% set sectionLabel = matchedSection.title %}
{% endif %}

{% set sectionTokens = [] %}
{% for item in collections.officialAll %}
  {% if item.sec == token.sec and item.pub %}
    {% set sectionTokens = sectionTokens.concat([item]) %}
  {% endif %}
{% endfor %}

{% set prevToken = null %}
{% set nextToken = null %}

{% for item in sectionTokens %}
  {% if item.displayId == token.displayId %}
    {% if loop.index0 > 0 %}
      {% set prevToken = sectionTokens[loop.index0 - 1] %}
    {% endif %}
    {% if loop.index0 < (sectionTokens | length - 1) %}
      {% set nextToken = sectionTokens[loop.index0 + 1] %}
    {% endif %}
  {% endif %}
{% endfor %}

{% set detailSectionTitle = sectionLabel %}
{% set detailSectionUrl = sectionUrl %}
{% set detailImageDataset = "official" %}
{% set detailImageIsOfficial = true %}
{% set detailShowPager = true %}

{% set detailView = tokenDetailView.buildTokenDetailView(token, {
  tokenId: tokenId,
  tokenTitle: tokenTitle,
  detailSectionTitle: detailSectionTitle,
  detailSectionUrl: detailSectionUrl,
  detailImageDataset: detailImageDataset,
  detailImageIsOfficial: detailImageIsOfficial,
  detailShowPager: detailShowPager,
  prevToken: prevToken,
  nextToken: nextToken,
  isUnlisted: isUnlisted,
  lookups: lookups
}) %}

{% include "token-detail.njk" %}
