---
layout: base.njk
pagination:
  data: unlistedAll
  size: 1
  alias: token
permalink: "/unlisted/{{ token.siteId | lower }}/index.html"
eleventyComputed:
  title: "{{ token.siteId }} – {{ token.displayTitle }}"
---

{% set tokenId = token.displayId or token.siteId %}
{% set tokenTitle = token.title or token.displayTitle %}
{% set isUnlisted = token.siteId and not token.displayId %}

{% set detailSectionTitle = "Unlisted Tokens" %}
{% set detailSectionUrl = "/unlisted/" %}

{% if token.groups and ("counterfeit" in token.groups) %}
  {% set detailImageDataset = "counterfeit" %}
{% elseif token.groups and ("errors" in token.groups) %}
  {% set detailImageDataset = "oddities" %}
{% else %}
  {% set detailImageDataset = "unlisted" %}
{% endif %}

{% set detailImageIsOfficial = false %}
{% set detailShowPager = false %}

{% set detailView = tokenDetailView.buildTokenDetailView(token, {
  tokenId: tokenId,
  tokenTitle: tokenTitle,
  detailSectionTitle: detailSectionTitle,
  detailSectionUrl: detailSectionUrl,
  detailImageDataset: detailImageDataset,
  detailImageIsOfficial: detailImageIsOfficial,
  detailShowPager: detailShowPager,
  isUnlisted: isUnlisted,
  lookups: lookups
}) %}

{% include "token-detail.njk" %}
