---
layout: base.njk
pagination:
  data: unlisted
  size: 1
  alias: token
permalink: "/unlisted/{{ token.siteId | lower }}/index.html"
eleventyComputed:
  title: "{{ token.siteId }} – {{ token.displayTitle }}"
---

{% set tokenId = token.displayId or token.siteId %}
{% set tokenTitle = token.title or token.displayTitle %}
{% set isUnlisted = token.siteId and not token.displayId %}

{% include "token-detail.njk" %}