<header class="topbar topbar-minimal">
  <nav class="nav nav-centered">
    <a href="/">Home</a>
    <a href="/browse/">Browse</a>
    <a href="/collection/">Collection</a>
    <a href="/for-sale/">For Sale</a>
    <a href="/about/">About Us</a>
    <a href="/contact/">Contact</a>
  </nav>
</header>
