<header class="topbar topbar-minimal">
  <nav class="nav nav-centered">
    <a href="/"{% if page.url == "/" or page.url == "/collection/" %} aria-current="page"{% endif %}>Collection</a>
    <a href="/search/"{% if page.url == "/search/" %} aria-current="page"{% endif %}>Search</a>
    <a href="/available/"{% if page.url == "/available/" or page.url == "/available/print/" %} aria-current="page"{% endif %}>Available</a>
    <a href="/about/"{% if page.url == "/about/" %} aria-current="page"{% endif %}>About</a>
    <a href="/contact/"{% if page.url == "/contact/" %} aria-current="page"{% endif %}>Contact</a>
  </nav>
</header>
