<header class="topbar topbar-minimal">
  <nav class="nav nav-centered">
    {% for item in navigation.primary %}
      <a href="{{ item.url }}"{% if page.url in item.activeUrls %} aria-current="page"{% endif %}>{{ item.label }}</a>
    {% endfor %}
  </nav>
</header>
